{% extends 'boards/base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
{% endblock stylesheet %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Sign up</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'boards/includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Don't have an account? <a href="{% url 'signup' %}">Signup</a>
          </div>
        </div>
        <div class="text-center py-2">
            <small>
              <a href="#" class="text-muted">Forgot your password?</a>
            </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}